/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
:root {
    /* --color-primary: #3f51b5; */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
    --background-login-light: #f6f5f7;
    --color-login-primary: #000046;
    --color-login-primary-light: #1cb5e0;
    --background-login-light: #f6f5f7;
    --color-primary: #000046;
    --color-primary-light: #1cb5e0;
}